body{
    font-family: "Poppins", sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}
.website-dream{
    color: red;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
}
.half-width img{
    width: 100%;
    margin-top: 5%;
}

.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    
}
section{
    height: 500px;
    padding-bottom: 150px;
}

.anchor-tag{
    text-decoration: none;
    background-image: linear-gradient(45deg lightSalmon,tomato);
    color: white;
    border-radius: 7px;
    background-color: orange;
    font-weight: 700;
    padding: 10px 20px;
    
}

.hero{
    text-decoration: none;
    background-image: linear-gradient(45deg goldenrod,red);
    color: white;
    border-radius: 7px;
    background-color: orange;
    font-weight: 700;
    padding: 10px 40px;
    
}

.sorry{
    color: goldenrod;
}
.teacher{
    color: orange;
}

.bottom-banner{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}